.topnav {
    overflow: hidden;
    background-color:whitesmoke;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
  }
  .active {
    background-color: whitesmoke;
    color: black;
    font-size:34px;
  }
  .topnav .icon {
    display: none;
  }
  .dropdown {
    float: right;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 14px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color:white;
    color: white;
  }
  .topnav a:hover{
      background-color:whitesmoke;
    color: black;  
  }
  .dropdown-content a:hover {
    background-color:white;
    color: black;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
       
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      color:cyan;
      text-align: left;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }
  body{
      min-height: 100%;
      margin: 0;
     background-image: url("https://rohealthreview.ro/wp-content/uploads/2019/07/shutterstock_146147567.jpg");
     background-size:cover;
     background-repeat: no-repeat;
     
     
       }
       html{
           min-height: 100%;
       }